* {
  box-sizing: border-box;
}

:root {
  --background-color: #0b0e0b;
  --text-color: #ffffff;
  --gamba-ui-primary-color: #ffbb00;

  --gamba-ui-border-radius: 10px;

  --gamba-ui-button-default-background: #fffb00;
  --gamba-ui-button-default-background-hover: #b2be0e;
  --gamba-ui-button-default-color: rgb(0, 0, 0);

  --gamba-ui-button-main-background: #fff351;
  --gamba-ui-button-main-color: rgb(0, 0, 0);
  --gamba-ui-button-main-background-hover: #fcff64c5;

  --gamba-ui-input-background: #001f07;
  --gamba-ui-input-color: #ffffff;
  --gamba-ui-input-background-hover: #11111d;
}

body, input, button, textarea, pre {
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  margin: 0;
}

body {
  /* background: url('/Background/bg.jpg') no-repeat center center; */
  background-color: #ffbb00;
  background-size: cover;
  color: var(--text-color);
  cursor: default;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gamba-ui-primary-color);
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  background: rgb(149, 151, 38);
  border-radius: 10px;
}
